terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.backup
terraform/**/.tfstate*

ansible/*.log

app-python/.venv/
app-python/__pycache__/
app-python/*.pyc
app-python/.pytest_cache/

app-go/vendor/

.DS_Store
.env
.env.local
*.swp
*.swo
*.log

# IDE
.vscode/
.idea/
*.iml

.jenkins-credentials